
.progress-bar-container {
    width: 100%;
    height: 4px;
    background-color: rgb(233,233,233);
    border-radius: 4px;
    overflow: hidden;
    opacity: .5;
    transition: opacity .3s ease-out ;
    margin: 1rem ;
}

.active {
    opacity: 1;
}

.progress-bar {
    height: 100% ;
    background-color: #3498db ;
    border-radius: 4px ;
}

.progress-bar-before{
    height: 100% ;
    background-color: #3498db ;
    border-radius: 4px ;
}

